numpy==1.26.4
pandas
requests
sentence-transformers
scikit-learn
streamlit
transformers
torch
matplotlib
openai
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl